@* Define Model *@
@model List<udt_Personal>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        
        <table class="table table-bordered personal-list">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Hobby</th>
                <th scope="col">Age</th>

                <th scope="col" style="display:none;">IdGender</th>
                <th scope="col" style="display:none;">IdHobby</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>

        <button id="btnGenerate" type="button" class="btn btn-secondary">Generate</button>
    </div>
</div>

@section Scripts{
    <script>
        function getData() {
            var url = '@Url.Action("Data", "Home")';
            window.location.href = url;
        }
        $("#btnGenerate").on("click", function() {
            getData();
        });
    </script>
}