@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
        });
        

    </script>
}